<div class="container" ng-controller="postIncidentContentCtrl" ng-show="showList.postIncidentContent">
    <form>
        <p>Are you safe?: <span >{{ isSafe }}</span> </p>
        <select ng-model="isSafe">
            <option value="">
            <option value="Yes">Yes
            <option value="No">No
        </select>
    </form>
    <hr>

    <form>
        <p>Are you injured?: <span >{{ isInjured }}</span> </p>
        <select ng-model="isInjured">
            <option value="">
            <option value="Yes">Yes
            <option value="No">No
        </select>
    </form>
    <hr>

    <form>
        <p>Incident Type : <span >{{ emergencyType }}</span> </p>
        <select ng-model="emergencyType">
            <option value="">
            <option value="public emergency">public emergency
            <option value="police emergency">police emergency
        </select>
    </form>
    <hr>

    <form>
        <p>Severity of The Incident: <span >{{ severity }}</span> </p>
        <select ng-model="severity">
            <option value="">
            <option value="1">1
            <option value="2">2
            <option value="3">3
            <option value="4">4
            <option value="5">5
        </select>
    </form>
    <hr>

    <div class="input-group">
        What's the incident content?
        <input ng-model="content" id="content" type="text" class="form-control" placeholder="Incident Content">
        <hr>
        Input the address of the incident:
        <input ng-model="address" id="address" type="text" class="form-control" placeholder="Address">
        <hr>
        Input your phone number:
        <input ng-model="phonenumber" id="phonenumber" type="text" class="form-control" placeholder="Phone Number">
        <hr>
        <div class="container" ng-show="showList.postIncidentUpdateContent">
            <button class="btn btn-info" type="submit" ng-click="updateIncidentContent()">Update</button>
        </div>
        <div class="container" ng-hide="showList.postIncidentUpdateContent">
            <button class="btn btn-info" type="submit" ng-click="submitIncident()">Provide</button>
        </div>

    </div>



</div>